<!-- start custom head snippets -->

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Bastiaan Quast",
    "url": "https://bastiaanquast.com",
    "image": "https://en.wikipedia.org/wiki/Bastiaan_Quast#/media/File:Bastiaan-Quast-Stanford.jpg",
    "jobTitle": "Machine Learning Engineer",
    "worksFor": {
      "@type": "Organization",
      "name": "Wyld Blue"
    },
    "sameAs": [
      "https://g.co/kgs/LyyjTBf",
      "https://en.wikipedia.org/wiki/Bastiaan_Quast",
      "https://www.google.com.bd/books/edition/Foundations_of_Modern_Macroeconomics/sEsrDwAAQBAJ?hl=en&gbpv=1&dq=Bastiaan+Quast&pg=PR8&printsec=frontcover",
      "https://www.instagram.com/baquast",
      "https://www.linkedin.com/in/baquast",
      "https://www.facebook.com/baquast",
      "https://en.everybodywiki.com/Bastiaan_Quast",
      "https://www.tiktok.com/@bastiaanquast.
      "https://bastiaanquast.com/",
      "https://bastiaanquast.com/about",
      "https://github.com/bquast"
    ]
  }
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
