<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
  <li>
    <a href="https://scholar.google.ch/citations?user=AyZOoJQAAAAJ" itemprop="sameAs">
      <i class="ai ai-google-scholar" aria-hidden="true"></i> Google Scholar
    </a>
  </li>
  <li>
    <a href="https://www.researchgate.net/profile/Bastiaan_Quast" itemprop="sameAs">
      <i class="ai ai-researchgate" aria-hidden="true"></i> Research Gate
    </a>
  </li>
  <li>
    <a href="https://orcid.org/0000-0002-2951-3577" itemprop="sameAs">
      <i class="ai ai-orcid" aria-hidden="true"></i> ORCID
    </a>
  </li>
  